.chat-container {
  display: flex;
  flex-direction: column;
  height: 700px;
  width: 350px;
  border: 1px solid #ccc;
}

.chat-messages {
  flex-grow: 1;
  overflow-y: auto;
}

.message {
  margin: .5em;
}

.message:nth-child(odd) {
  align-self: flex-start; 
  padding :10px; 
  border :1px solid black;
  border-radius: 10px;
}

.message:nth-child(even) { 
  align-self:flex-end ; 
  background-color:	 #fef01b ; 
  padding :10px;  
  border-radius :10px ;
} 

.chat-input {
  display:flex ;
  justify-content:center ;
  padding :.5em ;
} 

.chat-input input{
  width :80% ;   
  border-radius :5px ;   
  height :2.5em ;  
}

.chat-input button{
  background-color: none;
} 

.chat__send__btn {
  background-color: none;
  border: 1px solid #DDD;
  padding: 5px 15px;
  margin-left: 5px;
}

.nickname__input{
  margin: 5px;
  width: 63%;
  height:30px;
  padding: 5px;
}

.nickname__submit__btn {
  width: 50px;
  text-align: center;
  margin-left: 5px;
  font-size: 15px;
}

.chat-input__input{
  padding-left: 3px;
}