html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.background-color{
  background-color: #F7F7F8;
}

.flex{
  display: flex;
}

.prevCard {
  left: calc(0% + 2rem);
  opacity: 0;
}

.activeCard {
left: 50%;
transform: translateX(-50%);
}

.nextCard {
  left: 100%;
  transform: translateX(calc(-100% - 2rem));
  opacity: 0;
}

.card-container {
  position: relative;
  width: 36rem;
  height: 22rem;
}