.flex{
    display: flex;
}
.nav_item{
    font-size: 17px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 3px;
}
.ml-5{
    margin-left: 5px;
}
.fixed{
    position: fixed;
}
.header{
    justify-content: center;
    max-width: 1070px;
    margin: 0 auto;
    color: #222;
    font-size : 18px;
}

.background-color{
    background-color: #F7F7F8;
}