.mb-10{
    margin-bottom: 10px;
}

.center{
    display: table;
    margin: 0 auto;
}

.margin-auto{
    margin: 0 auto;
}

.mt-5{
    margin-top: 5px;
}

.mb-5{
    margin-bottom: 5px;
}

.item_container{
    background-color: white;
    padding: 30px 20px 20px;
    border-radius: 10px;
    margin-bottom: 30px;
}

.portfolio_img{
    margin-top: 30px;
    background: transparent;
}
.container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    width: 70%;
    margin-top: 15px;
}

.line-height{
    line-height: 1.7;
}

.background-color{
    background-color: #F7F7F8;
}