.mb-10{
    margin-bottom: 10px;
}

.center{
    display: table;
    margin: 0 auto;
}

.margin-auto{
    margin: 0 auto;
}

.mt-5{
    margin-top: 5px;
}

.mb-5{
    margin-bottom: 5px;
}

.portfolio_img{
    margin-top: 30px;
    background: transparent;
}

.line-height{
    line-height: 1.7;
}
.card{
    position: absolute;
    padding: 30px 20px 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: visible;
    margin-left: 6px;
    margin-right: 30px;
}


  
