.mt-10{
    margin-top: 10px;
}

.mb-10{
    margin-bottom: 10px;
}

.center{
    display: table;
    margin: 0 auto;
}

.margin-auto{
    margin: 0 auto;
}

.mt-5{
    margin-top: 5px;
}

.mb-5{
    margin-bottom: 5px;
}

